[submodule "submodules/benchmarks"]
	path = submodules/benchmarks
	url = https://github.com/tensorflow/benchmarks.git
[submodule "submodules/DeepLearningExamples"]
	path = submodules/DeepLearningExamples
	url = https://github.com/NVIDIA/DeepLearningExamples.git
